form(method='POST' action='/add_quad' enctype='multipart/form-data')
    input(name='name' placeholder='quad name' type='text')
    br
    input(name='description' placeholder='quad description' type='text')
    br
    input(name='quad_code' placeholder='quad code' type="text")
    br
    input(name='picture' type='file')
    br
    input(type='submit' value='добавить')