@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family:Roboto;
}

.container {
	width:600px;
	background-color: lightgrey;
	margin:0 auto;
	display: block;
}

.container img {
	width:560px;
}